.table {
    width: 500px;
    margin-top: 40px;
    border-collapse: collapse;
    /* hücreler arası boşluk kalkar */
    text-align: center;
    font-family: Arial, sans-serif;
}

.table th {
    background-color: #343437;
    /* başlık mavi */
    color: white;
    padding: 10px;
}

.table td {
    border: 1px solid #423f3f;
    padding: 10px;
    color: black;
}

/* Zebra satır efekti */
.table tbody tr:nth-child(odd) {
    background-color: white;
}

.table tbody tr:nth-child(even) {
    background-color: #b7b2b2;
    /* açık gri */
}